@using System.Threading.Tasks
@using Ranaitfleur.Helper
@model IEnumerable<Ranaitfleur.ViewModels.ItemViewModel>
@{
    var displayProduct = Model.First();
    var images = displayProduct.ImagePath.Split(',');
    ViewBag.Title = displayProduct.Name;
}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-1" style="height: 550px">
            <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                <div class="row">
                    <div class="col-md-12">
                        <div class='carousel-outer'>
                            <div class='carousel-inner'>
                                @for (var item = 0; item < images.Length; item++)
                                {
                                    <div class="item @(item == 0 ? "active" : "")">
                                        <img src="@Url.Content(images[item])" alt="@displayProduct.Name" id="zoom_05" data-zoom-image=""
                                             class="img-responsive center-block" />
                                    </div>
                                }
                                @*<script>
                            $("#zoom_05").elevateZoom({ zoomType: "inner", cursor: "crosshair" });
                        </script>*@
                            </div>

                            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                <span class='glyphicon glyphicon-chevron-left'></span>
                            </a>
                            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                <span class='glyphicon glyphicon-chevron-right'></span>
                            </a>
                        </div>
                    </div>

                    <!-- thumb -->
                    <div class="col-md-12">
                        <ol class='carousel-indicators'>
                            @for (var item = 0; item < images.Length; item++)
                            {
                                <li data-target='#carousel-custom'
                                    data-slide-to="@item"
                                    class=@(item == 0 ? "active" : "")>
                                    <img src="@Url.Content(images[item])" alt="@images[item]" class="img-thumbnail" />
                                </li>
                            }
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <p class="productTitle">@displayProduct.Name</p>
                <p class="product-description">@displayProduct.Description1</p>
                <p class="product-description">@displayProduct.Description2</p>
                <p class="price"><span>@displayProduct.Price.ToString("C", CulturesHelper.UnitedKingdom)</span></p>
                
                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                    <b>
                        General sizes:
                        <select name="size" asp-for="@displayProduct.Size" asp-items="@displayProduct.Sizes"></select>
                    </b>
                    <input type="hidden" name="productId" value="@displayProduct.Id"/>
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()"/>
                    <span>
                        <button type="submit" class="btn btn-success btn-sm pull-right">
                            Add To Cart
                        </button>
                    </span>
                </form>
            </div>
            @*<div>
                <p>
                <div class="quantity buttons_added">
                    <input class="minus" type="button" value="-"/>
                    <input id="quantity" class="input-text qty text" type="text" size="4" min="" max="" step="1" value="1"/>
                    <input class="plus" type="button" value="+"/>
                    <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                </div>
                </p>
            </div>*@
        </div>
    </div>
    
    <div>
        <br/>
        <h2>Similar products</h2>
        <hr class="divider-title">
    </div>

    <div class="row">
        @{ foreach (var item in Model.Skip(1).Take(3))
            {
                <div class="col-md-4 col-sm-12">
                    <div class="thumbnail">
                        <a asp-controller="App" asp-action="Product" asp-route-id="@item.Id">
                            <img src="@Url.Content(item.ImagePath.Split(',').FirstOrDefault())" alt="@item.Name" id="shopImg">
                            <p class="shopH4 truncate">@item.Name</p>
                            <p class="shopP truncate">@item.Price.ToString("C", CulturesHelper.UnitedKingdom)</p>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>