@using System.Threading.Tasks
@using Ranaitfleur.Helper
@model Tuple<int, List<Ranaitfleur.Model.Item>>
@{
    if (Model.Item1 == 1)
    {
        ViewBag.Title = "Couture";
    }
    else if (Model.Item1 == 2)
    {
        ViewBag.Title = "Demi Couture";
    }
    else
    {
        ViewBag.Title = "Ready To Wear";
    }
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr class="divider-title">

    @{ foreach (var item in Model.Item2)
        {
            <div class="col-md-4 col-sm-12">
                <div class="thumbnail">
                    <a asp-controller="App" asp-action="Product" asp-route-id="@item.Id">
                        <img src="@Url.Content(item.ImagePath.Split(',').FirstOrDefault())" alt="@item.Name" id="shopImg">
                        <p class="shopH4 truncate">@item.Name</p>
                        <p class="shopP truncate">@item.Price.ToString("C", CulturesHelper.UnitedKingdom)</p>
                        @*<div class="ratings">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>*@
                        @*<p class="shopP truncate">@item.Description1</p>*@
                        @*<hr class="line">*@
                        @*<div class="row">
                            <div class="col-md-6 col-sm-6">
                                <p class="shopP truncate">@item.Price.ToString("C", CulturesHelper.UnitedKingdom)</p>
                            </div>
                        </div>*@
                    </a>
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="womcoll">
                    <a asp-controller="App" asp-action="Product" asp-route-id="@item.Id">
                        <figure class="img-responsive">
                            <img src="@Url.Content(item.ImagePath.Split(',').FirstOrDefault())">
                            <figcaption>
                                <span class="womcoll-name">@item.Name</span>
                                <span class="womcoll-price">@string.Format("{0:C}", item.Price)<strong></strong></span>
                                <span class="womcoll-description">creator name</span>
                            </figcaption>
                            <span class="actions">
                                <button class="btn btn-warning btn-action" type="submit">View </button>
                            </span>
                        </figure>
                    </a>
                </div>
            </div>*@
        }
    }
</div>
