@using System.Threading.Tasks
@model Ranaitfleur.ViewModels.AccountViewModel
@{
    ViewBag.Title = "My Account";
}

<div>
    <h2>User Details</h2>
    <hr class="divider-title">

    <div>
        <p>User name : @Model.UserName</p>
        <p>User email : @Model.UserEmail</p>
    </div>
    <br/>

    <h2>Orders</h2>
    <hr class="divider-title">

    @if (Model.UserOrders.Any())
    {
        <div class="row">
            <div class="col-md-2"><b>Order date</b></div>
            <div class="col-md-3"><b>Shipping address</b></div>
            <div class="col-md-3"><b>Billing address</b></div>
            <div class="col-md-2"><b>Order status</b></div>
            <div class="col-md-2"><b>Button</b></div>
        </div>
        <br/>

        foreach (var order in Model.UserOrders)
        {
            <div class="row">
                <div class="col-md-2">@order.DateTime</div>
                <div class="col-md-3">@order.ShippingAddress</div>
                <div class="col-md-3">@order.BillingAddress</div>
                <div class="col-md-2">@order.Status</div>
                <div class="col-md-2">@order.Status</div>
            </div>
            <br/>

            <button id="showOrderItem">Show order item(s)</button>

            <div id="orderItemList">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <b>Dress</b>
                    </div>
                    <div class="col-md-3">
                        <b>Size</b>
                    </div>
                    <div class="col-md-3">
                        <b>Quantity</b>
                    </div>
                </div>

                @foreach (var item in order.OrderItems)
                {
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">@item.ItemName</div>
                        <div class="col-md-3">@item.ItemSize</div>
                        <div class="col-md-3">@item.ItemQuantity</div>
                    </div>
                }
            </div>

            <br/>
        }
    }
    else
    {
        <div class="text-center">No Unshipped Orders</div>
    }
</div>
