@using System.Threading.Tasks
@using Ranaitfleur.Helper

@model Ranaitfleur.ViewModels.OrderSummaryViewModel
@{
    ViewBag.Title = "Payment";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="row cart-row text-center">Your Order</div>
            @foreach (var line in Model.Orders)
            {
                <div class="row cart-row">
                    <div class="col-md-6 text-center truncate">@line.Item.Name</div>
                    <div class="col-md-4 text-center">@line.Quantity</div>
                    <div class="col-md-2 text-center">@((line.Item.Price * line.Quantity).ToString("C", CulturesHelper.UnitedKingdom))</div>
                </div>
            }
            <div class="row cart-row text-center">Delivery</div>
            <div class="row cart-row">Delivery address here</div>
            <div class="row cart-row text-center">Total to pay : @Model.TotalPrice</div>
        </div>
    </div>
</div>


<form id="paymentForm" method="post" action="@Model.PaymentUrl">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div>
                <img src="~/img/SagePayLogo.jpg" class="img-responsive center-block" alt="Sagepay Logo">
            </div>
            <div>
                <br />
                <button id="submitBtn" type="submit" class="btn btn-success center-block">Pay</button>
            </div>
        </div>
    </div>
    <input id="VPSProtocol" type="hidden" name="VPSProtocol" value="3.00" />
    <input id="TxType" type="hidden" name="TxType" value="PAYMENT" />
    <input id="VendorName" type="hidden" name="VendorName" value="@Model.VendorName" />
    <input id="Crypt" type="hidden" name="Crypt" value="@Model.Crypt"/>
</form>